In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dep=dataset[['charges']]

In [10]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
           'splitter':['best', 'random'],'max_features':['auto','sqrt','log2']}

In [20]:
grid= GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(indep,dep)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
27 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
13 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.66229812 0.62046122 0.70532859 0.66319512
        nan        nan 0.70110202 0.66337326 0.61599626 0.66451612
        nan        nan 0.61103219 0.64004908 0.66882166 0.56483332
        nan        nan 0.65939523 0.67098341 0.62462566 0.63397245]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [22]:
re=grid.cv_results_
print("The R Score Value for best parameter {}".format(grid.best_params_))

The R Score Value for best parameter {'criterion': 'squared_error', 'max_features': 'log2', 'splitter': 'best'}

In [23]:
table=pd.DataFrame.from_dict(re)

In [24]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006250,0.007655,0.000000,0.000000,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.000000,0.000000,0.000000,0.000000,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.007938,0.007082,0.007863,0.006999,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.708158,0.524367,0.670815,0.734037,0.674114,0.662298,0.072783,8
3,0.015641,0.000020,0.000000,0.000000,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.640343,0.530640,0.688960,0.571383,0.670980,0.620461,0.060193,13
4,0.003120,0.006241,0.012499,0.006249,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.753340,0.602480,0.770523,0.683308,0.716992,0.705329,0.059589,1
5,0.008732,0.007154,0.009942,0.006506,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.720462,0.549685,0.735840,0.688646,0.621343,0.663195,0.069051,7
6,0.003207,0.005461,0.000000,0.000000,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.009387,0.007665,0.006250,0.007654,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.764300,0.669104,0.669895,0.692112,0.710098,0.701102,0.035081,2
9,0.012499,0.006250,0.003125,0.006250,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.664115,0.533565,0.688324,0.713068,0.717795,0.663373,0.067682,6
10,0.012497,0.006248,0.003124,0.006248,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.661587,0.613767,0.394588,0.722522,0.687519,0.615996,0.116248,14
11,0.012497,0.006249,0.003125,0.006249,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.696237,0.556011,0.727812,0.697947,0.644574,0.664516,0.060500,5
12,0.003125,0.006249,0.000000,0.000000,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.000000,0.000000,0.000000,0.000000,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.024180,0.007146,0.004932,0.005717,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.659200,0.489887,0.488304,0.763769,0.654001,0.611032,0.106989,15
15,0.019411,0.009667,0.004933,0.005719,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.671372,0.539980,0.737188,0.563658,0.688047,0.640049,0.075591,10
16,0.020643,0.003693,0.002304,0.004607,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.694549,0.580567,0.714959,0.614877,0.739157,0.668822,0.060723,4
17,0.018096,0.006981,0.009378,0.007657,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.362158,0.657806,0.578518,0.611740,0.613944,0.564833,0.104423,16
18,0.000903,0.001806,0.000000,0.000000,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.002304,0.004607,0.000000,0.000000,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.009379,0.007658,0.000000,0.000000,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.675843,0.489217,0.703795,0.692006,0.736116,0.659395,0.087352,9
21,0.012503,0.006252,0.000000,0.000000,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.661880,0.640868,0.668802,0.721072,0.662296,0.670983,0.026754,3
22,0.003125,0.006251,0.006251,0.007656,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.568776,0.575793,0.721661,0.527996,0.728902,0.624626,0.083822,12
23,0.006251,0.007656,0.000000,0.000000,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.628758,0.561525,0.657008,0.608419,0.714152,0.633972,0.050770,11

In [25]:
age_input=float(input("Age: "))
bmi_input=float(input("BMI: "))
Children_input=int(input("Children: "))
sex_male_input=int(input("Sex Male Yes 0 or 1"))
smoker_yes_input=(int(input("Smoker Yes 0 or 1 : ")))

Age: 56
BMI: 34
Children: 2
Sex Male Yes 0 or 11
Smoker Yes 0 or 1 : 0

In [29]:
Future_Prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("The Future Prediction={}".format(Future_Prediction))

The Future Prediction=[12928.7911]

C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(