In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
indep=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=dataset[['charges']]

In [7]:
indep

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dep

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion' :['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],
           'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}

In [10]:
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit = True,verbose= 3,n_jobs=-1)
grid.fit(indep,dep)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
19 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
21 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.81400282 0.83208734 0.81211073 0.83379651
        nan        nan 0.81493045 0.83308627 0.81531175 0.83170503
        nan        nan 0.81582541 0.8335194  0.81595569 0.83377279
        nan        nan 0.8249289  0.8345781  0.81543406 0.83272641]
  warnings.warn(
C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [11]:
re=grid.cv_results_
print("The R Score Value for best parameter{}:".format(grid.best_params_))

The R Score Value for best parameter{'criterion': 'poisson', 'max_features': 'sqrt', 'n_estimators': 100}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003493,0.003075,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.002767,0.002082,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.115813,0.007732,0.005309,0.006670,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.827970,0.754185,0.850880,0.812154,0.824825,0.814003,0.032415,15
3,0.800679,0.017303,0.032098,0.011001,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.853871,0.774210,0.862591,0.827942,0.841823,0.832087,0.031198,7
4,0.096634,0.007072,0.008142,0.007018,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.831487,0.754685,0.831085,0.820635,0.822662,0.812111,0.029042,16
5,0.825682,0.011562,0.034459,0.005629,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.860928,0.777450,0.858098,0.831583,0.840924,0.833797,0.030191,2
6,0.004350,0.006449,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.004085,0.005819,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.223194,0.013151,0.005849,0.005765,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.835559,0.746463,0.851786,0.802357,0.838487,0.814930,0.037907,14
9,2.224038,0.035277,0.025836,0.010168,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.856119,0.777954,0.858901,0.827403,0.845054,0.833086,0.029705,5
10,0.260424,0.011343,0.006292,0.004879,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.849261,0.760992,0.827556,0.812969,0.825781,0.815312,0.029558,13
11,2.245203,0.081058,0.033877,0.003691,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.855770,0.779829,0.854533,0.827785,0.840609,0.831705,0.027878,8
12,0.000000,0.000000,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.003148,0.004402,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.091798,0.006340,0.007499,0.004985,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850211,0.758828,0.829409,0.812318,0.828361,0.815825,0.030935,11
15,0.957498,0.423774,0.032634,0.008110,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858264,0.781923,0.862519,0.825472,0.839419,0.833519,0.029035,4
16,0.091182,0.006437,0.012274,0.007136,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.841322,0.758269,0.843702,0.817070,0.819415,0.815956,0.030836,10
17,3.310973,0.307232,0.181262,0.100133,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.855460,0.777190,0.864490,0.829284,0.842440,0.833773,0.030695,3
18,0.004893,0.004206,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.001130,0.001452,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.460466,0.357572,0.038533,0.064770,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.849948,0.765860,0.849595,0.827032,0.832210,0.824929,0.030922,9
21,5.354042,0.341495,0.081662,0.042716,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.859085,0.782136,0.861286,0.826903,0.843481,0.834578,0.028991,1
22,0.607214,0.062491,0.054928,0.060194,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.831567,0.762966,0.847835,0.814754,0.820048,0.815434,0.028582,12
23,3.996331,0.231310,0.040143,0.013226,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.858405,0.777076,0.862458,0.824063,0.841630,0.832726,0.030967,6

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1"))
smoker_yes_input=int(input("Smoker yes 0 or 1"))

Age:78
BMI:34
Children:2
Sex Male 0 or 11
Smoker yes 0 or 10

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future Prediction={}".format(Future_Prediction))

Future Prediction=[16787.3453811]

C:\Users\Karpagavalli\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(